* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

html {
       background-color: darkslategrey;
       align-items: center;
}

body {
       display: flex;
       flex-direction: column;
       justify-content: center;
       min-height: 100vh;
       max-width: 750px;
       margin: 0 auto;
       margin-bottom: 0;
       font-family: Arial;
}
    
.container_1 {
       display: flex;
       flex-direction: column;
       background-color: #1f2937;
}
       
.header {
       display: flex;
       color: white;
       font-size: 8px;
       padding: 3% 8%;
       width: 80%;
       margin: auto;
       justify-content: space-between;
}

.header {
       align-items: top;
}

.header .logo {
       font-size: 16px;
}

.header ul {
       margin-top: 0px;
       margin-right: 0px;
}
.header ul li {
       display: inline-block;
       list-style: none;
       gap: 40px;
}

.header ul li a {
       text-decoration: none;
       text-transform: uppercase;
       color: white;
       font-weight: 70px;
}
.my_image {
       background-color: lightgrey;
       width: 350px;
}

.hero {
       display: flex;
       color: white;
       padding: 4% 8%;
       width: 80%;
       margin: auto;
       justify-content: space-between;
       margin-bottom: 36px;
}

.hero .my_image {
       max-width: 250px;
}

.hero-left_container {
       display: flex;
       flex-direction: column;
}

.hero-left_container .text {
       padding-left: 3px;
}

.hero-left_container button {
       display: flex;
       justify-content: center;
       align-items: center;
       font-weight: bold;
       max-width: 90px;
       margin-top: 8px;
       padding: 4px;
       background-color: #3882f6;
       background-color: green;
       border: 2px solid gold;
       border-radius: 8px;
}
.hero-left_container button a {
       text-decoration: none;
       padding-top: 4px;
       padding-bottom: 4px;
       color: white;
}

.hero-left_container .main_text {
       color: #f9faf8;
        font-size: larger;
        font-weight: bold;
       }
    
.hero-left_container .secondary_text {
       font-size: 8px;
       font-weight: small;
       max-width: 150px;
}

.information-section {
       display: flex;
       flex-direction: column;
       background-color: #fff;
}

.information-section .header {
       color: grey;
       justify-content: center;
       font-size: 24px;
       font-weight: bold;
}

.information-section .videos_container {
       display: flex;
       justify-content: center;
       align-items: top;
       height: auto;
       gap: 18px;
       margin-bottom: 24px;
}

.information-section .videos_container .video {
       display: flex;
       flex-direction: column;
       align-items: center;
}

.information-section .videos_container .video .illustration {
       height: 80px;
       width: 80px;
       background-color: white;
       border: 2px solid lightgreen;
       border-radius: 8px;
}
.information-section .videos_container .video .text {
       max-width: 65px;
       text-align: center;
       padding: 8px;
       font-size: 8px;
}

.information-section .txt_container ul {
       display: flex;
       justify-content: center;
       list-style: none;
       font-size: small;
       margin: 1em auto;
       padding-left: 0;
       gap: 50px;
}

.information-section .txt_container ul li {
       max-width: 60px;
       text-align: center;
}

.quote_section {
       height: auto;
       background-color: #e5e7eb;
       justify-content: center;
       padding: 36px;
}

.quote_section .quote {
       max-width: 70%;
       margin-right: auto;
       margin-left: auto;
       text-align: center;
       font-style: italic;
}

.quote_section .signature {
       max-width: 85%;
       text-align: right;
       margin-top: 16px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: small;
       font-weight: bold;
}

.call_to_action_section {
       display: flex;
       justify-content: center;
       background-color: #fff;
       padding: 46px;
}

.call_to_action_section .container_2 {
       display: flex;
       justify-content: space-around;
       align-items: center;
       width: 85%;
       padding: 24px;
       background-color: #3882f6;
       background-color: lightgreen;
       color: white;
       border: 2px solid green;
       border-radius: 8px;
}

.call_to_action_section .container_2 .call_to_action_text {
       font-size: 16px;
}
.call_to_action_section .container_2 .registration_text {
       font-size: 8px;
}

.call_to_action_section .container_2 button {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100px;
       border: none;
       border-radius: 8px;
       background-color: #3882f6;
       background-color: lightgreen;
       border: 2px solid green;
}

.call_to_action_section .container_2 button a {
       text-decoration: none;
       font-family: Arial;
       font-weight: bold;
       text-shadow: 9px;
       color: green;
       color: white;
       padding: 1em;
}

.footer {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       background-color: #1f2937;
       color: white;
       font-size: 8px;
}